<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forbrugerinformation</title>
    <link rel="stylesheet" href="Forbrugerinformationstylesheet.css">

</head>
<body>
<header id="headerNavigation">
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="forbrugerinformation">Forbrugerinformation</a></li>
        <li><a href="organisationsinformation">Organisationsinformation</a></li>
        <li><a href="kontaktOs">Kontakt os</a> </li></ul>
</header>

<div id="forbrugertext">
<h1> Hvad kan du gøre </h1>
    <h2> Når du er hjemme i køkkenet:</h2>
    <p> <Strong> Dit køleskab, dine køkkenskabe og din fryser gemmer på guld </Strong> – hvis du husker at udnytte al maden. På et år kan din husholdning spare over 7.000 kr. Og om måneden kan du spare op til 4 timer i madindkøb. Mindre madspild betyder, at du sparer dine penge, sparer din tid og samtidigt sparer miljøbelastningen. <br>
<br>
        <Strong> Gør som supermarkederne – hav et flow i dit køleskab, din fryser og dine køkkenskabe, så de ældre og de åbne fødevarer stilles forrest </Strong> og helst på en hylde i din øjenhøjde, så du hele tiden er opmærksom på maden og du husker at bruge maden op først. <br>
<br>
        <Strong> Dine rester skal gemmes, men ikke glemmes.</Strong> Hav central plads til dine rester og indtænk brug af resterne i al din madlavning, uanset om det er hverdagsmad, gæstebud eller en påske/julefrokost. Gem dine rester et centralt sted i køleskabet, så du hele tiden husker dem og er opmærksom på at få dem brugt i nye retter eller i madpakken.</p>
    </div>

<div id="fridge">

    <img src="https://www.eatright.org/-/media/homefoodsafety/foursteps/refrigerate/refrigerate-the-basics-842162684.jpg?h=450&w=600&la=en&hash=F59A7448254A4EE4B758F82C36895800D643BE57" width="90%" height="90%">
    </div>

<div id="madspildLink">
    <br>
    <h2> Brug denne hjemmeside til lækre opskrifter</h2>
Med denne hjemmeside kan du indtaste hvilke madvare du har i dit køleskab, og så vil den foreslå en opskrift baseret på disse vare.

    <br>En super god måde at undgå madspild.
    <a class="external-url" href="https://myfridgefood.com/" target="_blank"><font color="#0072c6" face="Segoe UI">Klik her for at besøge hjemmesiden.</font></a>
</div>

<div class="footer">
    <div class="footerOverskift">
        <h4> Kontakt </h4>

        <p>
            Stop Spild Af Mad
            <br>
            Guldbergsgade 29N
            <br>
            2200 København N
            <br>
            CVR nr.: 12 52 23 54
            <br>
            www.kea.dk
            <br>
            kea@stopmadspild.dk
            <br>
            www.facebook.com/kea</p>

    </div>

    <div class="footerOverskift">
        <h4>Følg os</h4>
        <br>
        <img class="social" src="https://stopspildafmad.org/images/icon/facebook.png" alt="facebook" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/linkedin.png" alt="linkedin" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/twitter.png" alt="twitter" width="" height="">
        <br>
        <img class="social" src="https://stopspildafmad.org/images/icon/instagram.png" alt="instagram" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/youtube.png" alt="youtube" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/blogspot.png" alt="blogger" width="" height="">

    </div>

    <div class="footerOverskift">

        <h4> Madspild </h4>
        <p> Vi er Danmarks største bevægelse mod madspild.
            <br>
            Vi har igangsat kampen mod madspild i Danmark og vi bragte Danmarks kamp mod madspild på verdenskortet.</p>

    </div>
</div>

</body>
</html>