<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="HomeStyleSheet.css">

</head>
<body>


<header id="headerNavigation">
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="forbrugerinformation">Forbrugerinformation</a></li>
        <li><a href="organisationsinformation">Organisationsinformation</a></li>
        <li><a href="kontaktOs">Kontakt os</a> </li></ul>
    <img id="Food" src="Food.jpg" width="100%" height="100%">
</header>



<div id="homeText">
    <h1 id="h1MadSpild"> Madspild i Danmark</h1>
    <p> Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist. Husholdningernes madspild udgør 260.000 ton pr. år. I servicesektoren er der et årligt madspild på 227.000 ton, heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter og 31.000 ton fra institutioner og storkøkkener om året. Madspild fra primærproduktionen udgør 100.000 ton pr. år, mens fødevareindustrien står for et årligt madspild på 133.000 ton.
        kilde: Miljøministeriet, Regeringens Strategi for affaldsforebyggelse ”Danmark uden affald II”</p>
</div>


<div id="overskriftPåDiv">

    <strong>Årligt madspild i Danmark, estimat i %:</strong>

</div>


<div class="tal">
    <div class="box">
        <span>36%</span>
        Husholdningerne
    </div>
    <div class="box">
        <span>23%</span>
        Detailhandlen
    </div>
    <div class="box">
        <span>19%</span>
        Fødevareindustrien
    </div>
    <div class="box">
        <span>14%</span>
        Primærproduktionen
    </div>
    <div class="box">
        <span>4%</span>
        Institutioner og storkøkkener
    </div>
    <div class="box">
        <span>4%</span>
        Hoteller og restauranter
    </div>
    <div style="clear:both;"></div>
</div>

<div>
    <br>
</div>

<div class="footer">
    <div class="footerOverskift">
    <h4> Kontakt </h4>

        <p>
            Stop Spild Af Mad
            <br>
            Guldbergsgade 29N
            <br>
            2200 København N
            <br>
            CVR nr.: 12 52 23 54
            <br>
            www.kea.dk
            <br>
            kea@stopmadspild.dk
            <br>
            www.facebook.com/kea</p>

    </div>

    <div class="footerOverskift">
        <h4>Følg os</h4>
        <br>
        <img class="social" src="https://stopspildafmad.org/images/icon/facebook.png" alt="facebook" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/linkedin.png" alt="linkedin" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/twitter.png" alt="twitter" width="" height="">
        <br>
        <img class="social" src="https://stopspildafmad.org/images/icon/instagram.png" alt="instagram" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/youtube.png" alt="youtube" width="" height="">
        <img class="social" src="https://stopspildafmad.org/images/icon/blogspot.png" alt="blogger" width="" height="">

    </div>

    <div class="footerOverskift">

        <h4> Madspild </h4>
        <p> Vi er Danmarks største bevægelse mod madspild.
            <br>
            Vi har igangsat kampen mod madspild i Danmark og vi bragte Danmarks kamp mod madspild på verdenskortet.</p>

    </div>
</div>

</body>
</html>